extends layout

block content

	h2.thankYou Thank you for applying to Omega 3 Studios!  

	p.thankYou Your application has been received, and we will contact you if you are selected for an interview.  
